body {
  margin: 0;
}

.App {
  background-image: url("https://i.pinimg.com/564x/83/4c/f0/834cf061a954212cdaa81dba77994cfa.jpg");
  background-size: cover;
  min-height: 100vh;
  text-align: center;
  padding: 10px;
}

.app-title {
  color: blueviolet;
  font-family: cursive;
  font-size: 30px;
}

.chart-container {
  margin: 0 auto;
  width: 80%;
  color: black;
  font-weight: 600;
}

.timeframe-selector {
  margin-bottom: 20px;
  color: black;
}

.timeframe-selector button {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .App {
    padding: 5px;
  }

  .app-title {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .App {
    padding: 5px;
  }

  .app-title {
    font-size: 20px;
  }
}
